@model IEnumerable<FIT_AISAMA.Models.LocationPlace.LocationPlaceModel>

@{
    ViewBag.Title = "Index";
}

<div class="col-sm-4">
<h2>Место расположения</h2>


<table class="table table-bordered table-striped">
    <tr>
        <th style="width: 260px;">
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th></th>
    </tr>
    <tr>
    <td>
            <a href="/LocationPlace/CreateLocationPlace" title="Добавить новый тип">
                <div style="height: 21px;">
                    <span class="glyphicon glyphicon-plus create-icon"></span>
                </div>
            </a>
        </td>
    <td>
        <a href="/LocationPlace/CreateLocationPlace" title="Добавить новый тип">
            <div style="height: 21px;"></div>
        </a>
    </td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td class="text-center">
                    <div class="col-sm-6" style="padding: 0;">
                        @using (Html.BeginForm("EditLocationPlace", "LocationPlace", FormMethod.Get))
                        {
                            <input type="hidden" name="Id" value="@item.Id"/>
                            <input class="btn btn-warning btn-xs" type="submit" value="Изменить"/>
                        }
                    </div>
                    <div class="col-sm-6" style="padding: 0;">
                        @using (Html.BeginForm("DeleteLocationPlace", "LocationPlace", FormMethod.Post))
                        {
                            <input type="hidden" name="Id" value="@item.Id"/>
                            <input class="btn btn-danger btn-xs" type="submit" value="Удалить"/>
                        }
                    </div>
                </td>
    </tr>
}

</table>
</div>