@model FIT_AISAMA.Models.MaterialActive.DestributionMaterialActiveSearchModel
@{
    ViewBag.Title = "Распределение";
}

<div class="col-sm-12">
    <h2>Список зарегистрированых МЦ </h2> 
</div>
<div class="row col-sm-6" style="margin-bottom: 10px;">
    <div id="SearchBlock">
        <div class="form-group col-sm-12" style="padding: 0;">
            <div class="col-sm-9">
                <input type="hidden" value="false" id="searchWithDeleted"/>
                <input class="form-control" style="width: 100%" type="text" value="" name="searchMaterialActiveText" id="searchMaterialActiveText" placeholder="Введите наименование или производителя"/>
            </div>
            <div class="col-sm-3" style="padding: 0;">
               <input id="searchButton" class="btn btn-info" type="button" value="Поиск"/>
               <input id="cancelSearch" class="btn btn-warning" type="button" value="Отмена"/>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-11" id="materialActiveTableBlock"></div>
    
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchButton").click(function() {
            searchRegisterMaterilas();
        });

        $("#cancelSearch").click(function() {
            cancelSearch();
        });

        searchRegisterMaterilas();
    });

    function searchRegisterMaterilas() {
        
        var data = {
            NameOrManufacturer: $("#searchMaterialActiveText").val(),
            ShowDeleted: $("#searchWithDeleted").val() === "true"

        };
        
        $("#materialActiveTableBlock").load('@Url.Action("DistributionTable")', data);
    }

    function cancelSearch() {
        $("#searchMaterialActiveText").val("");
        searchRegisterMaterilas();
    }

</script>





