body {
    background-color: rgba(238, 238, 238, 0.41);
}

.bold {
    font-weight: bold;
}
.create-icon {
    font-size: 13px;
    color: #000;
}
.responsible-person {
    color: #008000; 
    font-size: 20px; 
    text-decoration: none;
}

.set-as-responsible {
    color: #000; 
    font-size: 20px;
}

.show-hide-deleted-icon {
    color: #000;
    font-size: 18px;
    cursor: pointer;
}

.deleted-item {
    color: #ccc;
}
.simple-border {
    border: 1px solid black;
    border-radius: 5px;
}

.inline {
    display: inline-block;
}

.pointer {
    cursor: pointer;
}
