@{
    ViewBag.Title = "Сотрудники";
}
@if (!string.IsNullOrEmpty(ViewBag.WarningMessage))
{
    <div class="alert alert-danger">@ViewBag.WarningMessage</div>
}
<div class="col-sm-12">
    <h2>Список сотрудников <span id="showOrHideDeleted" class="glyphicon glyphicon-eye-close show-hide-deleted-icon" title="Показать/Скрыть удаленных сотрудников"></span></h2> 
</div>
<div class="row col-sm-6" style="margin-bottom: 10px;">
    <div id="SearchBlock">
        <div class="form-group col-sm-12" style="padding: 0;">
            <div class="col-sm-9">
                <input type="hidden" value="false" id="searchWithDeleted"/>
                <input class="form-control" style="width: 100%" type="text" value="@ViewBag.SearchString" name="searchPersonText" id="searchPersonText" placeholder="Введите ФИО или Должность"/>
            </div>
            <div class="col-sm-3" style="padding: 0;">
               <input id="searchButton" class="btn btn-info" type="button" value="Поиск"/>
               <input id="cancelSearch" class="btn btn-warning" type="button" value="Отмена"/>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-10" id="personTableBlock">
    
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#cancelSearch").click(function() {
            $("#searchPersonText").val("");
            searchPerson();
        });

        $("#searchButton").click(function() {
            searchPerson();
        });

        $("#showOrHideDeleted").click(function () {
            if ($("#searchWithDeleted").attr('disabled'))
                return;

            var eyeElem = $("#showOrHideDeleted");
            //текущее состояние (отображаются сейчас удаленные или нет)
            var showDeleted = $("#searchWithDeleted").val() === "true";
            //сменить значение в инпуте
            $("#searchWithDeleted").val(!showDeleted);

            if (showDeleted) {
                eyeElem.removeClass("glyphicon-eye-open").addClass("glyphicon-eye-close");
            } else {
                eyeElem.removeClass("glyphicon-eye-close").addClass("glyphicon-eye-open");
            }

            searchPerson();
        });

        //подгружаем данные после загрузки страницы
        searchPerson();
    });

    function searchPerson() {
        setSearchFormState(true);
        var data = {
            SearchPersonText: $("#searchPersonText").val(),
            ShowDeletedPerson: $("#searchWithDeleted").val()
        }

        $("#personTableBlock").load('@Url.Action("SearchPerson", "Person")', data, function() {
            setSearchFormState(false);
        });
    }

    function setSearchFormState(disabled) {
        if (disabled == undefined)
            disabled = false;

        if(disabled === true)
        $("#personTableBlock").html('<div class="col-xs-12 text-center"><h3>Загрузка сотрудников ...</h3></div>');

        $("#SearchBlock input").each(function (i, elem) {
            $(elem).attr("disabled", disabled);
        });
    }
    
</script>

        



