@{
    ViewBag.Title = "Главная страница";
}

<div class="col-sm-11">
    <div class="row">
        <div class="col-sm-9">
            <h3>FIT_AISAMA</h3>
            <p>
                <b>FIT_AISAMA</b> (<i>Automated Information System of Accounting Material Actives</i>) - это информационная система, созданная в рамках учебного курса,
                предназначенная для учета материальных ценностей
            </p>
            <p>Данный проект построен на основе MVC технологии, в среде Visual Studio.<br/>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <p>Полный список используемых компонентов:</p>
            <div class="col-sm-12">
                <p> <a href="#entityFramework" data-toggle="collapse" data-target="#entityFramework">1) Entity framework</a>
                </p>

                <div class="collapse col-sm-12" id="entityFramework"><i>ADO.NET Entity Framework (EF)</i> — объектно-ориентированная технология доступа к данным, является object-relational mapping (ORM) решением для .NET Framework от Microsoft. Предоставляет возможность взаимодействия с объектами как посредством LINQ в виде LINQ to Entities, так и с использованием Entity SQL. Для облегчения построения web-решений используется как ADO.NET Data Services (Astoria), так и связка из Windows Communication Foundation и Windows Presentation Foundation, позволяющая строить многоуровневые приложения, реализуя один из шаблонов проектирования MVC, MVP или MVVM.
                </div>

                <p><a href="#bootstrap" data-toggle="collapse" data-target="#bootstrap">2) Bootstrap</a>
                </p>
                <div class="collapse col-sm-12" id="bootstrap"><i>Bootstrap (также известен как Twitter Bootstrap)</i> — свободный набор инструментов для создания сайтов и веб-приложений. Включает в себя HTML- и CSS-шаблоны оформления для типографики, веб-форм, кнопок, меток, блоков навигации и прочих компонентов веб-интерфейса, включая JavaScript-расширения.
                </div>

                <p><a href="#jQuery" data-toggle="collapse" data-target="#jQuery">3) jQuery</a>
                </p>
                <div class="collapse col-sm-12" id="jQuery"><i>jQuery</i> — библиотека JavaScript, фокусирующаяся на взаимодействии JavaScript и HTML. Библиотека jQuery помогает легко получать доступ к любому элементу DOM, обращаться к атрибутам и содержимому элементов DOM, манипулировать ими. Также библиотека jQuery предоставляет удобный API для работы с AJAX.
                </div>

                <p><a href="#RazorView" data-toggle="collapse" data-target="#RazorView">4) RazorView</a>
                </p>
                <div class="collapse col-sm-12" id="RazorView">Razor — это название механизма визуализации, который был введен Microsoft в версии MVC 3 и переработан в версии MVC 4 (хотя изменения были относительно небольшими). Механизм визуализации обрабатывает контент ASP.NET и ищет инструкции, которые обычно вставляют динамический контент в вывод, отправляемый браузеру.</div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 text-center text-info">
            <h4>Информация о разработчиках</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">Бедарев Иван Александрович</div>
                <div class="panel-body">
                    <p><b>Email:</b> ivan.bedarev@mail.ru
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-5">
            <div class="panel panel-primary">
                <div class="panel-heading">Никифоров Артем Дмитриевич</div>
                <div class="panel-body">
                    <p><b>Email:</b> nikiforov_tem@mail.ru
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>


