@{
    ViewBag.Title = "Главная страница";
}

<div class="col-sm-8 col-sm-offset-2">
    <h3>FIT_AISTAMA</h3>
    <p>
        FIT_AISTAMA - это информационная система, созданная в рамках учебногокурса.
    </p>
    <p>Данный проект построен на основе MVC технологии, в среде Visual Studio.<br/>
    Полный список используемых компонентов:</p>
    <div class="col-sm-8">
        <p> <a href="#entityFramework" data-toggle="collapse" data-target="#entityFramework">1) Entity framework</a></p>
        
        <div class="collapse col-sm-12" id="entityFramework"><i>ADO.NET Entity Framework (EF)</i> — объектно-ориентированная технология доступа к данным, является object-relational mapping (ORM) решением для .NET Framework от Microsoft. Предоставляет возможность взаимодействия с объектами как посредством LINQ в виде LINQ to Entities, так и с использованием Entity SQL. Для облегчения построения web-решений используется как ADO.NET Data Services (Astoria), так и связка из Windows Communication Foundation и Windows Presentation Foundation, позволяющая строить многоуровневые приложения, реализуя один из шаблонов проектирования MVC, MVP или MVVM.</div>
        
        <p><a href="#bootstrap" data-toggle="collapse" data-target="#bootstrap">2) Bootstrap</a></p>
        <div class="collapse col-sm-12" id="bootstrap"><i>Bootstrap (также известен как Twitter Bootstrap)</i> — свободный набор инструментов для создания сайтов и веб-приложений. Включает в себя HTML- и CSS-шаблоны оформления для типографики, веб-форм, кнопок, меток, блоков навигации и прочих компонентов веб-интерфейса, включая JavaScript-расширения.</div>
        
        <p><a href="#jQuery" data-toggle="collapse" data-target="#jQuery">2) jQuery</a></p>
        <div class="collapse col-sm-12" id="jQuery"><i>jQuery</i> — библиотека JavaScript, фокусирующаяся на взаимодействии JavaScript и HTML. Библиотека jQuery помогает легко получать доступ к любому элементу DOM, обращаться к атрибутам и содержимому элементов DOM, манипулировать ими. Также библиотека jQuery предоставляет удобный API для работы с AJAX.</div>
    
    </div>
    
        
</div>
